 body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 86, 131, 0.8)
 }

 .wizytowka{
    width: 500px;
    background-color: rgb(255, 228, 228) ;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    font-size: 25px;

}  


.link{
    margin-top: 20px;
    padding: 15px 25px;
    border: 3px black;
    background: transparent;
    color: rgb(147, 181, 225);
    text-decoration: none;
    font-size: 20px;
    border-radius: 3px;
}

.link:hover{
    color: rgb(132,140,207);
}
.link:visited{
    color: rgb(190, 86, 131);
}

.img{ 
    display: flex;
    height: 15vh;
    width: 13vh;
    float: left;
    margin: 1vh;
}
